###############################################################################
# Configuration for providers
###############################################################################
# HP_RAID - ssacli needed
# SMART - smartctl needed
# Use yes/no
HP_RAID_ENABLED="yes"
SMART_ENABLED="yes"

###############################################################################
# Configuration for notifications
###############################################################################
# none      → no external notification
# apprise   → send through Apprise
# telegram  → send directly through Telegram Bot API

NOTIFY_METHOD="none"
APPRISE_URL=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
